{% extends "base.html" %}
{% block title %}Закупки{% endblock %}
{% block content %}
<!-- Карточка требуемых закупок -->
<div class="w-1/2 p-4 grid gap-4 bg-white border rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center text-primary-600">Ваши заявки</h2>
    <hr>
    <table class="w-full border border-gray-300 border-collapse">
        <tbody>
            {% for application in applications %}
            <tr class="border-b border-gray-300 hover:bg-primary-50 transition">
                <td class="p-2">
                    <p class="text-black break-all">
                        <span class="text-primary-700 font-medium">{{ application.quantity }}</span>
                        •
                        {{ application.name }}
                    </p>
                    <p>
                        {% if application.status == 'seen' %}
                        <span class="text-green-500">Рассмотрено ✓</span>
                        {% elif application.status == 'unseen' %}
                        <span class="text-red-500">Не рассмотрено ✕</span>
                        {% endif %}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}