{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<!-- Карточка входа -->
<div class="w-1/3 p-4 grid gap-4 bg-white border rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center text-primary-600">Войти</h2>
    <hr>
    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <input 
            type="text" 
            name="username" 
            class="p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Логин"
            required
        >
        <input 
            type="password" 
            name="password" 
            class="p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Пароль"
            required
        >
        <!-- Ошибка при неправильных данных TODO настроить вывод ошибки-->
        {% if form.non_field_errors %}
        <div class="p-2 bg-red-50 text-red-500 border border-red-500 rounded">
            <p>Введены неверные данные!</p>
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button 
            type="submit" 
            class="w-full p-2 bg-primary-600 hover:bg-primary-700 text-center text-white font-semibold rounded shadow-md transition">
            Войти
        </button>
    </form>
    <div class="text-center text-gray-400">
        <p>
            Не зарегистрированы? Тогда вам 
            <a href="{% url 'register' %}" title="Регистрация" class="text-primary-500 hover:text-primary-800 transition">сюда</a>.
        </p>
    </div>
</div>
{% endblock %}