{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<!-- Карточка регистрации -->
<div class="w-1/3 p-4 grid gap-4 bg-white border rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center text-primary-600">Регистрация</h2>
    <hr>
    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <!-- Общий вывод ошибок формы -->
        {% if form.non_field_errors %}
        <div class="p-2 text-red-500 bg-red-50 border border-red-500 rounded">
            <p>Ошибка!</p>
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <input 
            type="text" 
            name="first_name" 
            class="w-full p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Имя"
            minlength="1"
            maxlength="64"
            pattern="^[а-яА-Я ]+$"
            required>
        {% if form.firstName.errors %}
        <div class="text-red-500 text-sm mt-1">
            {{ form.firstName.errors|join:", " }}
        </div>
        {% endif %}
        <input 
            type="text" 
            name="last_name" 
            class="w-full p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Фамилия"
            minlength="1"
            maxlength="64"
            pattern="^[а-яА-Я ]+$"
            required>
        {% if form.lastName.errors %}
        <div class="text-red-500 text-sm mt-1">
            {{ form.lastName.errors|join:", " }}
        </div>
        {% endif %}
        <input 
            type="text" 
            name="username" 
            class="w-full p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Логин"
            minlength="8"
            maxlength="32"
            pattern="^[a-zA-Z0-9_]+$"
            required>
        {% if form.username.errors %}
        <div class="text-red-500 text-sm mt-1">
            {{ form.username.errors|join:", " }}
        </div>
        {% endif %}
        <input 
            type="password" 
            name="password1" 
            class="w-full p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Пароль"
            minlength="8"
            maxlength="64"
            required>
        {% if form.password1.errors %}
        <div class="text-red-500 text-sm mt-1">
            {{ form.password1.errors|join:", " }}
        </div>
        {% endif %}
        <input 
            type="password" 
            name="password2" 
            class="w-full p-2 text-gray-800 placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
            placeholder="Подтвердите пароль"
            minlength="8"
            maxlength="64"
            required>
        {% if form.password2.errors %}
        <div class="text-red-500 text-sm mt-1">
            {{ form.password2.errors|join:", " }}
        </div>
        {% endif %}
    
        <button 
            type="submit" 
            class="w-full p-2 bg-primary-600 hover:bg-primary-700 text-center text-white font-semibold rounded shadow-md transition">
            Отправить
        </button>
    </form>
    <p class="text-center text-gray-400">
        Уже зарегистрированы?
        <a href="{% url 'login' %}" title="Вход" class="text-primary-500 hover:text-primary-800 transition">Войти</a>.
    </p>
</div>
{% endblock %}
{% block scripts %}
<script>
    const firstName = document.getElementsByName("firstName")[0];
    const lastName = document.getElementsByName("lastName")[0];
    const username = document.getElementsByName("username")[0];
    const password1 = document.getElementsByName("password1")[0];
    const password2 = document.getElementsByName("password2")[0];

    firstName.addEventListener("input", (event) => {
        if (firstName.value.patternMismatch) {
            firstName.setCustomValidity("Введите имя на русском языке!");
        }
    });

    lastName.addEventListener("input", (event) => {
        if (lastName.value.patternMismatch) {
            lastName.setCustomValidity("Введите фамилию на русском языке!");
        }
    });

    username.addEventListener("input", (event) => {
        if (username.validity.tooShort) {
            // username.setCustomValidity(`Минимальная длина логина: ${username.minLength} сим.; вы ввели: ${username.value.length} сим.`);
        }
        console.log(username.value)
    });

    password1.addEventListener("input", (event) => {
        if (password1.validity.tooShort) {
            // password1.setCustomValidity(`Минимальная длина пароля: ${password1.minLength} сим.; вы ввели: ${password1.value.length} сим.`);
        }
    });

</script>
{% endblock %}